<div class="dropdown">
  {{#> Button className="dropbtn" circle=true ghost=true }}
    <img class="dropbtn__content" src={{src}} />
  {{/ Button }}
  {{#> Card className="dropdown-content" }}
    {{> @partial-block }}
  {{/ Card }}
</div>