@import '../../../static/variables';

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    min-width: 160px;
    padding: 1rem;
    white-space: nowrap;

    &--show {
      display: block;
    }

    &> *:not(:last-child){
      margin-bottom: 16px;
    }
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }