<div class="dropdown">
  {{#> Button className="dropbtn" circle=true ghost=true }}
    <img class="dropbtn__content" alt={{alt}} src={{src}} />
  {{/ Button }}
  <div class="dropdown-content dropdown-content--{{#if position}}{{position}}{{else }}bottom{{/if}}" >
    {{#> Card }}
      {{> @partial-block }}
    {{/ Card }}
  </div>
</div>
