<div class="dropdown">
  {{#> Button circle=true ghost=true }}
    <img class="dropbtn" src={{src}} />
  {{/ Button }}
  {{#> Card className="dropdown-content" }}
    {{> @partial-block }}
  {{/ Card }}
</div>