<div class="chat-page">
    <aside class="chat-page__list">
        {{> ChatHeader}}
        <ul class="chat-page__list-container">
            {{#each (chat-page-list)}}
                <li>
                    {{> ChatItem }}
                </li>
            {{/each}}
        </ul>
    </aside>
    <div  class="chat-page__messages">
        {{> MessagesFeed}}
    </div>
</div>
