<div class="chat-page">
    <div>
        Chat
    </div>
    <a href="{{ url }}" class="link{{#if className}} {{className}}{{/if}}" page="login">"Назад к логину"</a>
    <a href="{{ url }}" class="link{{#if className}} {{className}}{{/if}}" page="profile">"К профилю"</a>
</div>
