<div class="chat-page">
    <aside class="chat-page__list">
        {{> ChatHeader}}
        <div>
            {{#each (chat-page-list)}}
                {{> ChatItem }}
            {{/each}}
        </div>
    </aside>
    <div  class="chat-page__messages">
        {{> MessagesFeed}}
    </div>
</div>
