<div class="chat-page">
    {{> ChatHeader}}
    <div>
        {{#each (chat-page-list)}}
            {{> ChatItem }}
        {{/each}}
    </div>

    <a href="{{ url }}" class="link{{#if className}} {{className}}{{/if}}" page="login">"Назад к логину"</a>
</div>
