@import "../../../static/variables";
@import "../../../static/mixins";

.messages-feed-header {
  border-bottom: $divider;
  padding-bottom: 10px;
  height: $messages-header;

  &__user {
    @include display-flex(flex-start, center);
  }

  &__avatar {
    background: $additional-elements-bgcolor;
    min-height: $messages-avatar-size;
    min-width: $messages-avatar-size;
    font-weight: $font-weight-medium;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__name {
    font-weight: $font-weight-semibold;
  }

  @include display-flex(space-between, center);
}
