<header class="messages-feed-header">
    <div class="messages-feed-header__user">
        {{#if chatAvatar}}
            <div class="messages-feed-header__avatar">
                <img alt="User avatar" src={{ chatAvatar }}><img>
            </div>
        {{else }}
            <div class="messages-feed-header__avatar"></div>
        {{/if}}
        <span class="messages-feed-header__name">{{ chatName }}</span>
    </div>

    {{#> Dropdown src="/icons/vertical-dots.svg" alt="Vertical dots icon" }}
        {{> DropdownOptionItem iconSrc="/icons/circle-plus.svg" text='Добавить пользователя' }}
        {{> DropdownOptionItem iconSrc="/icons/circle-cross.svg" text='Удалить пользователя' }}
    {{/ Dropdown }}
</header>
