@import '../../../static/variables';
@import '../../../static/mixins';

.messages-feed-header{
    border-bottom: $divider;
    padding-bottom: 10px;

    &__user{
        @include displayFlex(flex-start, center)
    }

    &__avatar{
        background: $additional-elements-bgcolor;
        min-height: $messages-avatar-size;
        min-width: $messages-avatar-size;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__name{
        font-weight: $font-weight-semibold;
    }

    @include displayFlex(space-between, center)
}