@import '../../../static/variables';

.input {
    &__label {
      color: $secondary-text-color;
      font: $font-xs;
    }
  
    &__element {
        border-bottom: 1px solid $primary-color;
        height: 26px;

        &__body {
            border: none;
            padding: 0;
            width: 100%;
            height: 100%;
            font: inherit;
        }
    } 

}