<button class="button{{#if className}} {{className}}{{/if}} {{#if circle}}button--circle{{/if}} {{#if ghost}}button--ghost{{/if}} {{#if underline}}button--underline{{/if}}" page="{{ page }}">
  {{> @partial-block }}
</button>
