<button class="button{{#if className}} {{className}}{{/if}}{{#if circle}} button--circle{{/if}}{{#if ghost}} button--ghost{{/if}}{{#if warning}} button--ghost--warning{{/if}}{{#if underline}} button--underline{{/if}}" {{#if type}}type={{ type }}{{/if}} page="{{ page }}">
  {{> @partial-block }}
</button>
