<div class="inputFile">
    <input class="inputFile__input" type="file" multiple={{isMultiple}} id={{id}} name={{name}} accept={{accept}} />
    {{#> Button ghost='true' underline='true' }}
        <span>Выбрать файл на компьютере</span>
    {{/ Button }}
</div>
