.inputFile {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.inputFile__input {
  height: 100%;
  display: block;
  position: absolute;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}
