<div class="input-field{{#if className}} {{ className }}{{/if}}">
  <label for={{inputId}} class="input-field__label">{{ title }}</label>
  {{> Input id=inputId placeholder=placeholder name=name type=type}}
</div>
