<div class="profile-page">
    <div class="profile-page__sidebar">
        {{#> Button page="chat" circle=true }}
            <img src='../../../static/icons/arrow-left.svg' page="chat"><img>
        {{/ Button }}
    </div>
    <div class="profile-page__main">
        <div class="profile-page__main__container">
        {{#if avatar}}
            <img class="profile-page__main__avatar" src={{ avatar }}><img>
        {{else }}
            <div class="profile-page__main__avatar">
                <img width="40px" height="40px" src='../../../static/icons/img.svg'><img>
            </div>
        {{/if}}  
        <div><span class="profile-page__main__name-text">{{ name }}</span></div>
        <div class="profile-page__main__body">
            {{> ProfileItem label="Почта" value="yandex" }}
            {{> ProfileItem label="Логин" value="yandex" }}
            {{> ProfileItem label="Имя" value="yandex" }}
        </div>
        <div class="profile-page__footer">
            <div class="profile-page__footer__item">
                {{#> Button ghost='true' }}
                    <span>Изменить данные</span>
                {{/ Button }}
            </div>
            <div class="profile-page__footer__item">
                {{#> Button ghost='true' }}
                    <span>Изменить пароль</span>
                {{/ Button }}
            </div>
            <div class="profile-page__footer__item">
                {{#> Button ghost='true' }}
                    <span page="chat">Выйти</span>
                {{/ Button }}
            </div>
        </div>
        </div>
    </div>
</div>