@import "../../../static/variables";
@import "../../../static/mixins";

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: $modal-display-bg-zindex;

  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
  }

  &--show {
    display: block;
  }

  &__content {
    width: 20%;
    min-width: 330px;
    background-color: white;
    box-shadow: $card-shadow;
    border-radius: 12px;
    padding: 40px 30px;
    z-index: $modal-zindex;

    @include center-element-with-position;
    @include display-flex(center, center, column);

    &__title {
      margin-bottom: 48px;
    }
  }

  &__footer {
    width: 100%;
    margin-top: 45px;
  }
}

.modal.active {
  display: block;
}
