@import "../../../static/variables";
@import "../../../static/mixins";

.chat-item {
  cursor: pointer;

  &__container {
    height: 70px;
    width: 100%;
    border-top: $divider;
    padding: 12px;

    &--current {
      background: $secondary-color;
      cursor: default;
    }

    &:hover {
      background: #d5d5d5;
    }

    @include display-flex(space-between);
  }

  &__info {
    @include display-flex(space-between, stretch, column);
  }

  &__main {
    @include display-flex;
  }

  &__avatar {
    background: $additional-elements-bgcolor;
    min-height: $chat-list-avatar-size;
    min-width: $chat-list-avatar-size;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__name {
    font-weight: $font-weight-semibold;
  }

  &__date {
    float: right;
    color: $secondary-text-color;
    font: $font-xs;
  }

  &__message-text {
    font: $font-sm;
    color: $secondary-text-color;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__unread {
    margin-top: 14px;
    height: $chatlist-info-unread-size;
    width: $chatlist-info-unread-size;
    font: $font-sm;
    background: $primary-color;
    color: $primary-text-invert-color;
    place-self: end;
    border-radius: 50%;

    @include display-flex(center, center);
  }
}
