{{#> Card }}
  <form class="login-page">
    <div class="login-page__body">
        {{> Title  title="Вход" }}
        {{> Input className="login-page__input" title="Логин" name="login" }}
        {{> Input className="login-page__input" title="Пароль" name="password" type="password" }}
    </div>
      <div>
        {{#> Button page="chat" }}
          <span>Авторизоваться</span>
        {{/ Button }}
        {{> Link page="LoginPage" text="Нет аккаунта?"}}
    </div>
  </form>

{{/ Card }}