<main class="login-page">
{{#> Card }}
  <form class="login-form">
    <div class="login-form__body">
      {{#if isRegistration}}
        {{> Title title="Регистрация" }}
        {{> InputField className="login-form__input" title="Почта" name="email" inputId="reg-email" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Логин" name="login" inputId="reg-login" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Имя" name="first_name" inputId="reg-first_name" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Фамилия" name="second_name" inputId="reg-second_name" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Телефон" name="phone" inputId="reg-phone" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Пароль" name="password" type="password" inputId="reg-password" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Пароль (еще раз)" name="password" type="password" inputId="reg-password-repeat" border=true no-bg=true }}
      {{else}}
        {{> Title  title="Вход" }}
        {{> InputField className="login-form__input" title="Логин" name="login" inputId="login-login" border=true no-bg=true }}
        {{> InputField className="login-form__input" title="Пароль" name="password" inputId="login-password" type="password" border=true no-bg=true }}
      {{/if}}
    </div>
    <div>
      {{#> Button page="chat" type="button" }}
          <span>{{#if isRegistration}}Зарегистрироваться{{else}}Войти{{/if}}</span>
      {{/ Button }}
      
      {{#if isRegistration}}
          {{> Link page="login" text='Войти' }}
      {{else}}
          {{> Link page="login-registration" text='Нет аккаунта?' }}
      {{/if}}

    </div>
  </form>

{{/ Card }}
</main>
