{{#> Card }}
  <form class="login-page">
    <div class="login-page__body">
        Login
    </div>
      <div>
        {{> Button text="Авторизоваться" page="chat" }}
    </div>
  </form>
      <a href="{{ url }}" class="link{{#if className}} {{className}}{{/if}}" page="chat">"Назад к чату"</a>
{{/ Card }}