{{#> Card }}
  <form class="login-page">
    <div class="login-page__body">
        Login
    </div>
      <div>
        {{> Button text="Авторизоваться" page="chat" }}
        {{> Link page="LoginPage" text="Нет аккаунта?"}}
    </div>
  </form>

{{/ Card }}