@import "../../../static/variables";

.chat-header {
  width: 100%;
  padding-bottom: 14px;
  height: $chatlist-header;

  &__nav {
    display: flex;
    justify-content: flex-end;
  }

  &__search {
    display: flex;
    justify-content: space-between;
  }

  &__create-btn {
    margin-left: 10px;
  }
}
