@import "../../../static/variables";
@import "../../../static/mixins";

.dropdown-option-item {
  width: 100%;
  cursor: pointer;
  padding: 5px;

  &__icon {
    color: $primary-color;
    margin-right: 15px;
  }

  &:hover {
    color: $primary-color;
  }

  @include display-flex(flex-start, center);
}
