<div class="profileItem">
  <div class="profileItem__label">{{ label }}</div>
  <input name="{{ name }}" {{#if isDisabled}}disabled{{/if}} class="profileItem__value" value="{{ value }}" {{#if type}}type={{ type }}{{/if}} />
</div>
