@import "../../../static/variables";
@import "../../../static/mixins";

.profileItem {
  width: 100%;
  padding: 12px 0;
  border-bottom: $divider;

  &__value {
    color: $secondary-text-color;
    border: 0;
    text-align: end;

    &:disabled {
      background: none;
    }
  }

  &__label {
    font-weight: $font-weight-medium;
  }

  @include display-flex(space-between);
}
