@import '../../../static/variables';

.link {
    font: $font-sm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
