<div class="messages-feed">
    {{!-- <span class="messages-feed__no-data">Выберите чат чтобы отправить сообщение</span> --}}
    {{> MessagesFeedHeader chatAvatar=avatar chatName=display_name}}
</div>